.title {
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.title-img {
    display: block;
    margin: 3em auto;
    width: 15%;
}

.graph {
    height: 16em;
    display: block;
    margin: 4em auto;
    width: 80%;
    max-width: 960px;
}