.title {
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.title-img {
    display: block;
    margin: 3em auto;
    width: 15%;
}

.temp {
    display: block;
    margin: auto;
    width: 70%;
    max-width: 960px;
}